@using Entities.Concrete;
@model IEnumerable<Supplier>

@{
    ViewBag.Title = "PartialListSupplier";
}


<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Tedarikçi Listesi</h4>
    </div>
    <div class="modal-body">
        <table class="table">

            <thead>
                <tr>
                    <th>Şirket Adı</th>
                    <th>İletişim</th>
                    <th>Aciklama</th>
                    <th>Adres</th>
                    <th>Telefon</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr>

                    @*<td>@item.CategoryId</td>*@
                    <td>@item.CompanyName</td>
                    <td>@item.ContactName</td>
                    <td>@item.ContactTitle</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>
                        <a href="/Suppliers/Update/@item.SupplierId" class="btn btn-warning">Güncelle</a>
                        <button class="btn btn-danger" id="@item.SupplierId" onclick="DeleteSupplier(@item.SupplierId)">Sil</button>
                    </td>
                </tr>

            }

        </table>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="GetEmployeeAdd()">Ekle</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="Close()">Kapat</button>
    </div>
</div>


<script>
    function Close() {
        $("#productList").html('');
    }

    function DeleteSupplier(id) {

        swal({
            title: "Emin misin?",
            text: "Birkez sildiğinde buna ulaşamayacaksın!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    let find = document.getElementById(id).parentNode.parentNode;
                    $.ajax({
                        url: "/Suppliers/Delete?id=" + id,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            find.parentNode.removeChild(find);
                        },
                        error: function () {
                            console.log("error!");
                        }
                    })
                    swal("Silindi", {
                        icon: "success",
                    });
                } else {
                    swal("Dosyanız güvende!");
                }
            });


    }

</script>
